.snake {
  width: 70px;
  height: 70px;
  position: absolute;
  transition: left ease-in-out 0.1s, top ease-in-out 0.1s;

  &.player {
    background-color: #ffe272;
  }
}

.blood {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: -20px;
  z-index: 0;
}
