<div *ngIf="(roomDetails)">
  <div *ngIf="roomDetails.result">
    Witamy w pokoju: {{roomDetails.roomDetails.name}}. Poczekaj na rozpoczęcie gry
    <hr/>
    Aktywni użytkownicy:
    <br/>
    <div *ngFor="let user of roomDetails.roomDetails.users">
      {{user}}
    </div>
    <button *ngIf="userName === roomDetails.roomDetails.author" (click)="startGame()">Rozpocznij grę</button>

  </div>
  <div *ngIf="!roomDetails.result">
    Nie udało się dołączyć do pokoju :(
  </div>
</div>
<div *ngIf="!(roomDetails)">loading...</div>
