<header class="header">
  <h2 class="main-title">Rat Race</h2>
  <img class="rats-animation" src="/assets/rat.gif">
</header>
<hr/>
<div>
  <div>
    Nick <input class="crazy-input" [(ngModel)]="user">
  </div>
  <hr/>
  <div>
    <button class="button-red" (click)="createRoom()">Create room</button>
  </div>
  <hr/>
  <div>
    <div class="list-header">
      ... OR SELECT FROM LIST
    </div>
    <div class="rooms-list">
      <div *ngFor="let room of (rooms$ | async)" class="list-item">
        {{room.name}} <span class="big-dot">●</span>  {{room.playersCount}} guests <span class="big-dot">●</span> By ~ {{room.authorName}}
        <button (click)="joinRoom(room.name)" class="button-red margin-left-10">Join</button>
      </div>
    </div>
  </div>
</div>
