.game_table {
  max-width: 300px;
}

img {
  width: 60px;
  height: 60px;
}

.image {
  margin: 5px;
  border: 1px solid white;
  width: 60px;
  height: 60px;
}

.hidden {
  opacity: 0;
}

.selected {
  opacity: 0.6;
}

.scored {
  opacity: 1;
}
