img {
  width: 40px;
  height: 40px;
}

.image {
  margin: 5px;
  border: 1px solid white;
  width: 40px;
  height: 40px;
}

.hidden {
  opacity: 0;
}

.selected {
  opacity: 0.6;
}

.scored {
  opacity: 1;
}

table.game_table {
  border-collapse: collapse;
}
