<app-dial-number-game (gameFinished)="gameFinished({gameId: 'dialNumberGame', success: $event})" *ngIf="isActiveGame('dialNumberGame')"></app-dial-number-game>
<app-accelerate (gameFinished)="gameFinished({gameId: 'accelerate', success: $event})" *ngIf="isActiveGame('accelerate')"></app-accelerate>
<app-dont-press-me (gameFinished)="gameFinished({gameId: 'dontPressMe', success: $event})" *ngIf="isActiveGame('dontPressMe')"></app-dont-press-me>
<app-press-me (gameFinished)="gameFinished({gameId: 'pressMe', success: $event})" *ngIf="isActiveGame('pressMe')"></app-press-me>
<app-colorful-hit (gameFinished)="gameFinished({gameId: 'colorfulHit', success: $event})" *ngIf="isActiveGame('colorfulHit')"></app-colorful-hit>
<app-llamas (gameFinished)="gameFinished({gameId: 'llamas', success: $event})" *ngIf="isActiveGame('llamas')"></app-llamas>
<app-clap-mosquito (gameFinished)="gameFinished({gameId: 'clapMosquito', success: $event})" *ngIf="isActiveGame('clapMosquito')"></app-clap-mosquito>
<img *ngIf="finished" src="/assets/applause.gif"/><br>
